@import '../../scss/variables';

.table {
  position: relative;
  table-layout: fixed;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 10px;

  &:after {
    z-index: -1;
    position: absolute;
    top: -1px;
    left: 0;
    width: calc(100% - 2px);
    height: calc(100% - 1px);
    content: '';
    border-radius: 10px;
    border: $text-color solid 1px;
  }

  th, td {
    border: $text-color solid 1px;
    padding: 5px 10px;
    text-align: left;
    min-width: 0;
    max-height: 20px;
    overflow: hidden;
  }

  th {
  }

  td {
    font-weight: 400;
  }

  :global(.columnResizer) {
    background-color: rgb(182, 179, 179);
    width: 4px;
    padding: 0 0 0 0;
    border: none;
  }
}

.cell {
  overflow: hidden;
  text-overflow: ellipsis;
}
