@import '../../scss/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter {
  display: flex;
  gap: 5px;
  height: 25px;

  div {
    display: flex;
    padding: 5px;
    align-items: center;
    font-size: 0.9rem;
    color: #000;
    background: #ccc;
  }

  input {
    flex: 1 1 auto;
  }
}

.button {
  flex: 0 0 auto;
  white-space: nowrap;
  margin-left: auto;
}
